
.featured{
    display: grid  ;
    grid-template-columns:4fr ;
}

.featured article {
    height: auto;
    margin-bottom: var(--margin-big-size) ;
}

.featured-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.featured-category-date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    margin:0px;
    color:var(--clear-color-type);
}
.featured-title-description-container{
    padding-top:var(--padding-medium-size);
    margin:0px;
}

h2{
    padding:0px;
    margin:0px;
    font-size: var(--big-font-size);
   
}
h4{
    padding:0px;
    margin:0px;
    font-size: var(--small-font-size);
    font-family:  var(--font-secondary);
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
}
p{
    padding-top:var(--padding-small-size);
    margin:0px;
    font-size: 20px;
    color:var(--clear-color-type);
}

/*big screen*/
@media (width >= 995px) {

  
    .featured {
        display: grid;
        grid-template-columns: 4fr;
        gap: 20px; 
        height: 500px;
    }

    .featured article {
        margin-bottom: var(--margin-small-size) ;
       
    }
    .featured-image{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 7px;
    }
}