.grid-container-all {
    display: grid;
    grid-template-columns:4fr ; /* Adjust the column sizes as needed */
    width: 100%;
    margin-top: var(--margin-big-size);
}


.all-articles article {
    transition: transform 0.3s ease; /* Add a smooth transition */
}

.all-articles article:hover {
    transform: translateY(-10px); /* Adjust the value as needed */
}
.all-articles-image{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 7px;
}
.articles-category-date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    margin:0px;
    color:var(--clear-color-type);
}
h2{
    padding:0px;
    margin:0px;
    font-size: var(--medium-font-size);

}
h4{
    padding:0px;
    margin:0px;
    font-size: var(--small-font-size);
    font-family: var(--font-secondary);
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
}

p{
    padding-top:var(--padding-small-size);
    margin:0px;
    font-size:  var(--small-font-size);
    color:var(--clear-color-type);
    font-family:  var(--font-secondary);

}

/* big screen */

@media (width >= 995px) {
  
    .grid-container-all {
        display: grid;
        grid-template-columns: 4fr ; 
        gap: var(--margin-big-size);
        margin: 0 auto;
        width: 100%;
    }

    .all-articles{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr ; /* Adjust the column sizes as needed */
        gap: 20px;
        margin: 0 auto;
        width: 100%;
        margin-top: var(--margin-big-size);
    }
}