@import url(./fonts/Sentient_Complete/Fonts/WEB/css/sentient.css);
:root{
    margin:0px;
    padding:0px;
    --big-font-size: 40px;
    --medium-font-size: 22px;
    --small-font-size: 14px;

    /* Light mode colors */
    --background-color:white;
    --text-color:#171717;
    --darkest-color-type: rgb(31, 31, 31);
    --medium-color-type: rgb(45, 45, 45);
    --clear-color-type: rgb(155, 155, 155);

    /* Dark mode colors */
    --background-color-dark:#000000;
    --text-color-dark:#dbdbdb;
    --darkest-color-type: rgb(31, 31, 31);
    --medium-color-type: rgb(45, 45, 45);
    --clear-color-type: rgb(155, 155, 155);

    --margin-big-size: 4rem;
    --margin-medium-size:2rem;
    --margin-small-size:1rem;

    --padding-big-size: 4rem;
    --padding-medium-size:2rem;
    --padding-small-size:1rem;

    --font-primary: 'Sentient-Regular';
    --font-secondary: 'Inter', 'sans-serif';

}
header{
    background-color: red;
    height: 4rem;
    width: 100%;
}
body.dark-mode {
    --background-color: var(--background-color-dark); 
    --text-color: var(--text-color-dark); 
}
body {
    background-color: var(--background-color);
    color: var(--text-color); /* Ensures text color changes based on mode */
}

body.dark-mode h1 {
    color: var(--text-color-dark);
}

h1{
    color:var(--text-color);
    font-family:var(--font-primary)
}

h2{
    font-family:var(--font-primary);    
}
h3{
    font-family:var(--font-primary);  
}
h4{
    font-family: var(--font-secondary);
}
p{
    font-family: var(--font-primary);
}






.title-container{
    padding-top:var(--padding-medium-size);
    padding-bottom: var(--padding-medium-size);
}
.title-container h1{
    padding:0px;
    margin:0px;
    font-family: var(--font-primary);
    font-size: var(--big-font-size);
}
.master-container{
    padding-left: var(--padding-small-size);
    padding-right:var(--padding-small-size);
}
.grid-container {
    display: grid;
    grid-template-columns: 4fr; 
    gap: 20px;
    margin: 0 auto;
}

/*big screen*/

@media (width >= 995px) {
    .master-container{
        padding-left: var(--padding-big-size);
        padding-right:var(--padding-big-size);
    }
    .title-container {
        margin-bottom: var(--margin-big-size);
    }
    .title-container h1{
        padding-right: 30%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 4fr 4fr; 
        gap: var(--margin-big-size);
        margin: 0 auto;
    }

  }