@import url(./fonts/Sentient_Complete/Fonts/WEB/css/sentient.css);
:root{
    margin:0px;
    padding:0px;
    --big-font-size: 40px;
    --medium-font-size: 22px;
    --small-font-size: 14px;

    --darkest-color-type: rgb(31, 31, 31);
    --medium-color-type: rgb(45, 45, 45);
    --clear-color-type: rgb(155, 155, 155);

    --margin-big-size: 4rem;
    --margin-medium-size:2rem;
    --margin-small-size:1rem;

    --padding-big-size: 4rem;
    --padding-medium-size:2rem;
    --padding-small-size:1rem;

}
body{
    padding: 0px;
    margin:0px;
    font-family: 'Sentient-Regular';
}
header{
    width: 100vw;
    height: 4rem;
    background-color: var(--darkest-color-type);
}
.master-container{
    padding-left: var(--padding-small-size);
    padding-right:var(--padding-small-size);
}
.title-container{
    padding-top:var(--padding-medium-size);
    padding-bottom: var(--padding-medium-size);
}
.title-container h1{
    padding:0px;
    margin:0px;
    font-size: var(--big-font-size);
}
.grid-container {
    display: grid;
    grid-template-columns: 4fr 4fr; 
    gap: 20px;
    margin: 0 auto;
}
.featured{
    display: grid  ;
    grid-template-columns:4fr ;
}
.featured h3{
    color:var(--clear-color-type);
}
.featured article {
    height: auto;
    margin-bottom: var(--margin-big-size) ;
}
.featured-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.recent-image{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 7px;
}
.featured-category-date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    margin:0px;
    color:var(--clear-color-type);
}
.featured-category-date-container h4{
    padding:0px;
    margin:0px;
    font-size: var(--small-font-size);
    font-family:  "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
}
.recent-category-date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    margin:0px;
    color:var(--clear-color-type);
}
.recent-category-date-container h4{
    padding:0px;
    margin:0px;
    font-size: var(--small-font-size);
    font-family:  "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
}
.featured-title-description-container{
    padding-top:var(--padding-medium-size);
    margin:0px;
}
.featured-title-description-container h2{
    padding:0px;
    margin:0px;
    font-size: var(--big-font-size);
    color:var(--darkest-color-type);
}
.featured-title-description-container p{
    padding-top:var(--padding-small-size);
    margin:0px;
    font-size: 20px;
    color:var(--clear-color-type);
}

.recent-title-description-container h2{
    padding:0px;
    margin:0px;
    font-size: var(--medium-font-size);
    color:var(--darkest-color-type);
}
.recent-title-description-container p{
    padding-top:var(--padding-small-size);
    margin:0px;
    font-size:  var(--small-font-size);
    color:var(--clear-color-type);
}










.recent{
    display: grid;
}
.grid-container {
    display: grid;
    grid-template-columns:1fr; /* Adjust the column sizes as needed */
 
}
.img-recent{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}

/*big screen*/

@media (width >= 995px) {
    .master-container{
        padding-left: var(--padding-big-size);
        padding-right:var(--padding-big-size);
    }
    .title-container {
        margin-bottom: var(--margin-big-size);
    }
    .title-container h1{
        padding-right: 30%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 4fr 4fr; 
        gap: var(--margin-big-size);
        margin: 0 auto;
    }

    .featured {
        display: grid;
        grid-template-columns: 4fr;
        gap: 20px; 
        height: 500px;
    }

    .featured article {
        margin-bottom: var(--margin-small-size) ;
       
    }
    .featured-image{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 7px;
    }
 
    .recent{
        display: grid;
        grid-template-columns: 4fr 4fr; /* Adjust the column sizes as needed */
        gap: 20px;
        margin: 0 auto;
    }


    
 
 
  }